body {
    margin: 0;
    padding: 0;
}

ul {
    list-style:none;
}


#logo {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#mic {
    position: absolute;
    top: 48.45%;
    left: 70%;
    z-index: 1;
}

#searchbar {
    position: absolute;
    top: 47%;
    left: 28%;
    height: 40px;
    width: 585px;
    font-size: 16px;
    font-family: Arial;
    box-shadow: 1px 1px 2px darkgrey;
    border: 1px solid whitesmoke;		  
}

#buttons {
    position: absolute;
    
    top: 58%;
    left: 39%;
}

.searchbutton {
    color:#757575;
    background-color:#f2f2f2;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #f2f2f2;
    margin-right:5px;
    height:36px;
    width:130px;
}

.searchbutton:hover {
    color:#222;
    box-shadow:0 1px 1px #222;
    

}


#header li {
    display: inline;
}

#header ul {
    list-style:none;
}

#header {
    position:absolute;
    top:0;
    color:#666;
    font-size:13.5px;
    font-familiy: Arial,sans-serif;
    line-height:0px;
    width:100%;
    height:20%; 
}


#footer {
    position:absolute;
    bottom:0;
    background-color:#e4e4e4;
    color:#666;
    font-size:13.5px;
    font-familiy: Arial,sans-serif;
    line-height:40px;
    width:100%;
    height:6%; 
        
}





.link {
    color:#000;
    text-decoration: none;
    padding-left:27px;
    font-size:14px;
    
}

a:hover {
    text-decoration:underline;
   
}

.icon {
    height:30px;
    width:30px;
}

.right {
    float:right;
    margin-right:30px;
}